body {
    background-color: whitesmoke;
}

#navbar {
    display: flex;
}

#parallelogramme1 {

    margin-top: -8px;
    margin-left: -50px;
    width: 52%;
    height: 50px;
    background: #4C4B63;
    -webkit-transform: skew(45deg);
    /* -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    tranform: skew(30deg); */
}

#parallelogramme2 {
    position: absolute;
    margin-top: -8px;
    margin-right: -50px;
    width: 100%;
    height: 50px;
    background: #2D898B;
    /* -moz-transform: skew(30deg); */
    /* -o-transform: skew(30deg); */
    /* tranform: skew(30deg); */
}

#imglogo {
    width: 100px;
    height: 45px;
    margin-top: 2px;
    margin-left: 25%;
    -webkit-transform: skew(-45deg);
}

#bodyelement {
    display: flex;

    justify-content: center;
}

#qrselector {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

#barrenav {
    width: 100%;
}

#urlqrcodeform {
    display: flex;
    justify-content: center;
}

#urlqrcode {
    display: inline-grid;
    text-align: center;
}

#wifiqrcodeform {
    display: flex;
    justify-content: center;
}

#wifiqrcode {
    display: inline-grid;
    text-align: center;
}

#displayqrcode {
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    color: #ffffff;
    border-radius: 5px;

}